---
import type { MailboxSession } from '@/actions'
import { encodeJWTSecret } from '@/lib/utils'
import * as jose from 'jose'
import CopyButton from './CopyButton'
import DeleteEvereyThingButton from './DeleteEvereyThingButton'
import ExitButton from './ExitButton'
import SenderButton from './SenderDialog.loggedFormBtn'

interface Props {
  hasMails?: boolean
}

const { hasMails } = Astro.props

const savedMailbox = Astro.cookies.get('mailbox')?.json() as MailboxSession

// eslint-disable-next-line antfu/no-top-level-await
const verifed = await jose
  .jwtVerify(
    savedMailbox.token,
    encodeJWTSecret(Astro.locals.runtime.env.JWT_SECRET),
  )
  .then(() => true)
  .catch(() => false)
---

<div class="w-full md:max-w-[350px] mb-4">
  <div class="mb-4 font-semibold text-sm">Email Address</div>
  {
    verifed && (
      <div class="flex items-center mb-6 text-primary bg-secondary backdrop-blur-xl shadow-inner px-4 py-4 rounded-md w-full border-border border">
        <span class="truncate">{savedMailbox.mailbox}</span>
        <CopyButton
          client:load
          content={savedMailbox.mailbox}
          className="p-1 rounded-md ml-auto transition-all duration-200"
        />
      </div>
    )
  }
  {
    !verifed && (
      <h1 class="text-destructive font-black text-xl mb-4">
        Failed to verify your mailbox. Your mailbox token may be expired or
        invalid.
      </h1>
    )
  }
  <ExitButton client:only="react" />
  <div class="grid w-full grid-cols-2 gap-2">
    <SenderButton client:only="react" />
    <DeleteEvereyThingButton isDisabled={!hasMails} client:only="react" />
  </div>
</div>
