---
import { Icon } from '@iconify/react'
import { Button } from './ui/button';
---

<Button variant="default">
  <Icon
    icon="logos:github-icon"
    className="[&_path]:!fill-primary-foreground"
    client:load
  />
  <div class="ml-1.5 text-sm">Star</div>
</Button>
